body {
  background-color: tan;
  font-family: sans-serif;
}
h1 {
  color: green;
  font-family: fantasy;
  font-size: 30px;
}
h3 {
  color: saddlebrown;
}
span {
  color: green
}
#special {
  color: brown;
}
