.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 8? */
    grid-template-rows: repeat(7, 1fr); /* 8? */
    width: 400px;
    height: 400px;
}
.grid div:nth-child(even) {
    background-color: black;
}
.grid div:nth-child(odd) {
    background-color: gainsboro;
}